
@charset "UTF-8";
:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #696cff;
  --bs-pink: #e83e8c;
  --bs-red: #ff3e1d;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffab00;
  --bs-green: #71dd37;
  --bs-teal: #20c997;
  --bs-cyan: #03c3ec;
  --bs-white: #fff;
  --bs-gray: rgba(67, 89, 113, 0.6);
  --bs-gray-dark: rgba(67, 89, 113, 0.8);
  --bs-gray-25: rgba(67, 89, 113, 0.025);
  --bs-gray-50: rgba(67, 89, 113, 0.05);
  --bs-primary: #696cff;
  --bs-secondary: #8592a3;
  --bs-success: #71dd37;
  --bs-info: #03c3ec;
  --bs-warning: #ffab00;
  --bs-danger: #ff3e1d;
  --bs-light: #fcfdfd;
  --bs-dark: #233446;
  --bs-gray: rgba(67, 89, 113, 0.1);
  --bs-primary-rgb: 105, 108, 255;
  --bs-secondary-rgb: 133, 146, 163;
  --bs-success-rgb: 113, 221, 55;
  --bs-info-rgb: 3, 195, 236;
  --bs-warning-rgb: 255, 171, 0;
  --bs-danger-rgb: 255, 62, 29;
  --bs-light-rgb: 252, 253, 253;
  --bs-dark-rgb: 35, 52, 70;
  --bs-gray-rgb: 67, 89, 113;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 67, 89, 113;
  --bs-body-color-rgb: 105, 122, 141;
  --bs-body-bg-rgb: 245, 245, 249;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-root-font-size: 16px;
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.53;
  --bs-body-color: #697a8d;
  --bs-body-bg: #f5f5f9;
}

.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: #9BA0B1 !important;
}

.text-success {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
}

.text-info {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

.text-warning {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
}

.text-light {
  --bs-text-opacity: 1;
  color: #b4bdc6 !important;
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.text-gray {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-gray-rgb), var(--bs-text-opacity)) !important;
}

.text-black {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-black-rgb), var(--bs-text-opacity)) !important;
}

.text-white {
  --bs-text-opacity: 1;
  color: #fff !important;
}

.text-body {
  --bs-text-opacity: 1;
  color: #697a8d !important;
}

.text-muted {
  --bs-text-opacity: 1;
  color: #a1acb8 !important;
}

.text-black-50 {
  --bs-text-opacity: 1;
  color: rgba(67, 89, 113, 0.5) !important;
}

.text-white-50 {
  --bs-text-opacity: 1;
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}


.btn-success {
  color: black;
  background-color: #71dd37 !important;
  border-color: #71dd37 !important;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(113, 221, 55, 0.4) !important;
}
.btn-success:hover {
  color: black;
  background-color: #66c732 !important;
  border-color: #66c732 !important;
  transform: translateY(-1px);
}
.btn-check:focus + .btn-success, .btn-success:focus, .btn-success.focus {
  color: black;
  background-color: #66c732 !important;
  border-color: #66c732 !important;
  transform: translateY(0);
  box-shadow: none;
}
.btn-check:checked + .btn-success, .btn-check:active + .btn-success, .btn-success:active, .btn-success.active, .show > .btn-success.dropdown-toggle {
  color: black;
  background-color: #60bc2f !important;
  border-color: #60bc2f !important;
}
.btn-check:checked + .btn-success:focus, .btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus, .show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-success.disabled, .btn-success:disabled {
  box-shadow: none;
}


.btn-dark {
  color: #fff;
  background-color: #233446;
  border-color: #233446;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(35, 52, 70, 0.4);
}
.btn-dark:hover {
  color: #fff;
  background-color: #202f3f;
  border-color: #202f3f;
  transform: translateY(-1px);
}
.btn-check:focus + .btn-dark, .btn-dark:focus, .btn-dark.focus {
  color: #fff;
  background-color: #202f3f;
  border-color: #202f3f;
  transform: translateY(0);
  box-shadow: none;
}
.btn-check:checked + .btn-dark, .btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active, .show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1e2c3c;
  border-color: #1e2c3c;
}
.btn-check:checked + .btn-dark:focus, .btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus, .show > .btn-dark.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-dark.disabled, .btn-dark:disabled {
  box-shadow: none;
}


.btn-warning {
  color: black;
  background-color: #ffab00;
  border-color: #ffab00;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 171, 0, 0.4);
}
.btn-warning:hover {
  color: black;
  background-color: #e69a00;
  border-color: #e69a00;
  transform: translateY(-1px);
}
.btn-check:focus + .btn-warning, .btn-warning:focus, .btn-warning.focus {
  color: black;
  background-color: #e69a00;
  border-color: #e69a00;
  transform: translateY(0);
  box-shadow: none;
}
.btn-check:checked + .btn-warning, .btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active, .show > .btn-warning.dropdown-toggle {
  color: black;
  background-color: #d99100;
  border-color: #d99100;
}
.btn-check:checked + .btn-warning:focus, .btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus, .show > .btn-warning.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-warning.disabled, .btn-warning:disabled {
  box-shadow: none;
}


.btn-danger {
  color: #fff;
  background-color: #ff3e1d;
  border-color: #ff3e1d;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(255, 62, 29, 0.4);
}
.btn-danger:hover {
  color: #fff;
  background-color: #e6381a;
  border-color: #e6381a;
  transform: translateY(-1px);
}
.btn-check:focus + .btn-danger, .btn-danger:focus, .btn-danger.focus {
  color: #fff;
  background-color: #e6381a;
  border-color: #e6381a;
  transform: translateY(0);
  box-shadow: none;
}
.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #d93519;
  border-color: #d93519;
}
.btn-check:checked + .btn-danger:focus, .btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus, .show > .btn-danger.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-danger.disabled, .btn-danger:disabled {
  box-shadow: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fbfbfb;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
    background-clip: padding-box;
    box-shadow: 0 2px 6px 0 rgb(67 89 113 / 12%);
}
.card-body {
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

.bg-light{
  background-color: #F3F4F8 !important;
}

.text-secondary {
  color: #9BA0B1 !important;
}

.bg-label-warning{
  background-color: #ffb50d;
  font-size: 1rem !important;
}

.bg-label-danger{
  background-color: red;
  font-size: 1rem !important;
}

.bg-label-success{
  background-color: #64f908;
  font-size: 1rem !important;
}

.font-08rem{
  font-size: 0.8rem !important;
}


/* here media query box and image and info product */

@media (max-width: 921px){
  .d-mobile-block{
    display: grid !important;
    text-align: center;
    }
  .mobile-1{
    order: 1;
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }
  .mobile-2{
    order: 2;
    margin-right: 0 !important;
  }
  .mobile-3{
    order: 3;
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
  .mobile-4{
    order: 4;
    margin: 0 auto !important;
  }
  
  .mobile-1 .w-50{
    width: auto !important;
  }

  .mobile-1 .mt-mob{
    margin-top: 2rem;
  }

  .mobile-2 img{
    width: 35rem !important;
    height: 20rem !important;
  }


}


  
@media (max-width: 590px){
.mobile-2 img{
  width: 18rem !important;
  height: 13rem !important;
}

.bg-label-success,.bg-label-warning,.bg-label-danger{
  font-size: 0.8rem !important;
}

.font-07rem ,.font-08rem{
  font-size: 0.8rem !important;
}
}

/* here style addresses */
.w-100px{
  width: 100px;
}

.d-flex p{
  font-size: 1rem !important;
}

.btn.btn-danger.btn-sm.font-08rem,.btn.btn-warning.btn-sm.font-08rem{
  font-size: 0.8rem !important;
}

